@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body, html {
    margin: 0;
    padding: 0;
}

*, p, h1, h2, h3, h4, h5, ul, li {
    padding: 0;
    margin: 0;
}

a {
    transition: all.2s ease-in;
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: unset;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}
.title.skills {
    margin-bottom: 100px;
}
.title__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.title__title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    width: 100px;
    background: #CECECE;
}
.title__text {
    line-height: 230%;
    color: #515151;
}

@keyframes slideDown {
    from {
        margin-top: 0;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    to {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes shadow-blink {
    from {
        text-shadow: 0 0 10px transparent;
    }
    50% {
        text-shadow: 0 0 10px #ff3838;
    }
    to {
        text-shadow: 0 0 10px transparent;
    }
}


/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes first-right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes first-left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(270deg);
  }
}


@-webkit-keyframes second-right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes second-left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(230deg);
  }
}


@-webkit-keyframes third-right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes third-left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(270deg);
  }
}


@-webkit-keyframes fourth-right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes fourth-left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(270deg);
  }
}



/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}
