@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body, html {
    margin: 0;
    padding: 0;
}

*, p, h1, h2, h3, h4, h5, ul, li {
    padding: 0;
    margin: 0;
}

a {
    transition: all.3s ease-in;
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: unset;
}

@keyframes slideDown {
    from {
        margin-top: 0;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    to {
        margin-top: 20px;
        opacity: 0;
    }
}

.title {
    margin-bottom: 50px;
    text-align: center;
}
.title__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
    position: relative;
    text-transform: uppercase;
}
.title__title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    width: 100px;
    background: #CECECE;
}
.title__text {
    line-height: 230%;
    color: #515151;
}