@import "reset.css";

html {
    height: 5000px;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


header * {
    color: #fff;
    font-family: sans-serif;
}


/*FIRST SCREEN*/
header {
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    padding: 40vh 0 250px 0;
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
}
header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,15,25,0.4);
}

.start {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;
}
.start-my-name,
.start-title {
    margin-bottom: 20px;
}
.start-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.icon-wrap {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.icon {
    width: 50px;
    display: inline-block;
    height: 50px;
    padding-top: 3px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.icon i {
    animation-name: slideDown;
    animation-duration: 1.1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    font-size: 17px;
}


/*menu*/

.sticky-menu {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 12px 120px 12px 120px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    z-index: 1000;
}
.sticky-menu * {
    color: #000;
}
.sticky__name {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
.menu {
    float: right;
}
.menu__item {
    display: inline-block;
    line-height: 30px;
}
.menu__item a {
    padding: 12px 15px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.menu__item a:hover {
    color: rgb(200,0,0);
}
.menu__item a.active {
    color: rgb(200,0,0);
}


/*SECOND SCREEN*/
main * {
    color: #222;
}

.what-i-do {
    max-height: 100vh;
    min-height: 100vh;
    background: #F2F2F2;
    text-align: center;
    padding-top: 15vh;
}

.service-bg {
    background: #FFF;
    transition: all.2s ease-in;
    padding: 50px 30px;
    box-shadow: inset 0 0 0 transparent;
    cursor: pointer;
    border: 1px solid #cfcfcf;
}
.service-bg:hover {
    box-shadow: inset 0 2px 8px grey;
}
.service__icon {
    margin-bottom: 30px;
    display: block;
}
.service__title {
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.service__text {
    line-height: 165%;
    font-size: 14px;
    color: #666;
    word-spacing: 5px;
}


/*THIRD SCREEN*/
.my-works {
    padding: 120px 0 100px;
}
.wrap {
    height: 225px;
}
.my-works .col-lg-4 {
    
}