main .wr #nav, main .wr #tabs {
    box-sizing: border-box;
}

main .wr #nav {
    width: 285px;
    height: 510px;
    float: left;
}

main .wr #nav .nav-button {
    cursor: pointer;
    display: block;
    padding: 25px 0 25px 45px;
    text-transform: uppercase;
    color: #48484f;
    border: 1px solid #e2e2e2;
    border-top: none;
}

main .wr #nav .clean-block {
    max-width: 100%;
    height: 265px;
    border: 1px solid #f2f2f2;
    border-top: none;
}

main .wr #nav .nav-button:hover {
    color: #eaa245;
}

main .wr #nav .active {
    color: #eaa245;
    border-right: none;
}

main .wr #tabs {
    position: relative;
    width: 355px;
    float: left;
    height: 510px;
    padding: 65px 35px 0 35px;
}

main .wr #tabs .tab {
    transition: all .3s ease-in;
    max-width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 0;
}

main .wr #tabs .tab .slick-list.draggable {
    width: 285px;
}

main .wr #tabs .tab .slick-next:before,
main .wr #tabs .tab .slick-prev:before {
    color: #eaa245;
    font-family: "Play", sans-serif;
    font-size: 36px;
}

main .wr #tabs .tab .slick-next,
main .wr #tabs .tab .slick-prev {
    bottom: -65px !important;
    top: unset;
}
main .wr #tabs .tab .slick-next {
    right: 0;
}
main .wr #tabs .tab .slick-prev {
    left: 0;
}
main .wr #tabs .tab .slick-prev:before {
    content: '<';
}
main .wr #tabs .tab .slick-next:before {
    content: '>';
}

main .wr #tabs .tab * {
    padding: 0;
    margin: 0;
}

main .wr #tabs .tab div .slider-image {
    float: left;
    width: 100px;
    height: 70px;
    background-image: url("../img/slide-news1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 25px 0 0;
}

main .wr #tabs .tab div .content {
    margin-bottom: 45px;
    height: 70px;
}

main .wr #tabs .tab div h5 {
    font-weight: bold;
    font-size: 14px;
    color: #48484f;
    margin-bottom: 5px;
}

main .wr #tabs .tab div span {
    display: block;
    color: #eaa245;
    font-size: 8px;
    margin-bottom: 3px;
}

main .wr #tabs .tab div p {
    font-size: 10px;
    line-height: 140%;
    color: #b1b1b1;
}

main .wr #tabs .active {
    opacity: 1;
    z-index: 100;
}

@media screen and (max-width: 1200px) {
    main .wr #nav {
        width: 205px;
    }

    main .wr #nav .nav-button {
        padding-left: 20px;
    }

    main .wr #tabs {
        width: 335px;
    }

    main .wr #tabs .tab .slick-list.draggable {
        width: 265px;
    }
}
@media screen and (max-width: 1024px) {
    main .wr #tabs {
        width: 275px;
    }

    main .wr #tabs .tab .slick-list.draggable {
        width: 205px;
    }
}
@media screen and (max-width: 768px) {
    main .wr #tabs, main .wr #nav {
        width: 50%;
    }

    main .wr #tabs {
        border-bottom: 1px solid #e2e2e2;
    }

    main .wr #tabs .tab .slick-list.draggable {
        width: 300px;
    }
}
@media screen and (max-width: 640px) {
    main .wr #tabs .tab .slick-list.draggable {
        width: 250px;
    }
}
@media screen and (max-width: 480px) {
    main .wr #nav {
        width: 40%;
    }
    main .wr #tabs {
        width: 60%;
    }
    main .wr #tabs .tab .slick-list.draggable {
        width: 218px;
    }
}