html {
    background-image: url("../img/bs_emba_backout.png");
    background-position: top;
    background-repeat: no-repeat;
}

header {

    .wr {
        & {
            background-color: #131313;
            @extend %clear;
            padding: 5px 15px 0 135px;
        }

        .logo {
            & {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: 100;
                width: 135px;
                height: 125px;
                background-color: #eaa245;
                padding: 10px;

                &:hover {
                    text-decoration: none;
                }
            }

            img {
                clear: both;
                margin-bottom: 9px;
            }

            span {
                font-size: 16px;
                line-height: 80%;
                text-transform: uppercase;
            }
        }

        .activity {
            & {
                float: left;
                padding-left: 25px;
            }

            a {
                color: #898989;
                text-decoration: none;
                margin-left: 15px;
                font-size: 12px;

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .soc {
            & {
                float: right;
                margin-bottom: 5px;
            }

            .phone {
                font-weight: bold;
                display: inline-block;
                font-size: 14px;
                color: $white;
            }

            a {
                & {
                    width: 16px;
                    font-size: 12px;
                    text-align: center;
                    line-height: 16px;
                    font-weight: bold;
                    color: #fff;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #000;
                    margin-bottom: -3px;
                    margin-left: 5px;
                    display: inline-block;
                }

                &:hover {
                    text-decoration: none;

                    &:nth-child(2) {
                        background-image: url("../img/hover-vk.png");
                    }

                    &:nth-child(3) {
                        background-image: url("../img/hover-twit.png");
                    }

                    &:nth-child(4) {
                        background-image: url("../img/hover-inst.png");
                    }

                    &:nth-child(5) {
                        background-image: url("../img/hover-face.png");
                    }

                }

                &:nth-child(2) {
                    margin-left: 60px;
                    background-image: url("../img/vk.png");
                }

                &:nth-child(3) {
                    background-image: url("../img/twit.png");
                }

                &:nth-child(4) {
                    background-image: url("../img/bs_emba_inst.png");
                }

                &:nth-child(5) {
                    background-image: url("../img/face.png");
                }
            }
        }

        nav {
            & {
                clear: both;
                padding: 0 105px 0 0;
                background-color: #48484f;
                display: table;
            }

            a {
                & {
                    transition: all.3s ease;
                    padding: 17.5px;
                    font-weight: bold;
                    font-size: 16px;
                    color: $white;
                    margin: 0;
                    display: inline-block;
                    border-left: none;
                    text-decoration: none;
                    border-right: none;
                    background-color: #48484f;
                    border-bottom: 2px solid #48484f;
                }

                &:hover {
                    background-color: #313135;
                }

                &:nth-child(1) {
                    padding-left: 25px;
                }

                &.active {
                    text-decoration: none;
                    border-bottom: 2px solid #eaa245;
                }
            }
        }

        .log {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #313135;
            color: #eaa245;
            font-weight: bold;
            font-size: 16px;
            padding: 18.5px 63px;
        }
    }
}

.slider-main {
    & {
        overflow: hidden;
    }

    .wr {
        & {
            padding: 0;
            @extend %clear;
        }

        .slide-main {
            & {
                height: 645px;
                position: relative;
            }

            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 645px;
                z-index: 10;
                position: absolute;
                background-image: url("../img/top-block-slider.png");
            }

            .slide {
                & {
                    height: 645px;
                    background-repeat: no-repeat;
                    position: relative;
                }

                .text {
                    & {
                        position: absolute;
                        bottom: 100px;
                        left: 160px;
                        display: block;
                        z-index: 100;
                    }

                    h1 {
                        font-size: 50px;
                        font-weight: bold;
                        color: #ffffff;
                        margin-bottom: 5px;
                    }

                    h4 {
                        color: #ffffff;
                        text-transform: uppercase;
                        font-size: 22px;
                        width: 280px;
                        font-weight: normal;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #ed8f15;
                    }
                }
            }

            .block {
                width: percentage(1 / 4);
                height: 300px;
                display: block;
                background: linear-gradient(-45deg, #ed8f15, #eaa448);
                position: absolute;
                right: 0;
                z-index: 100;
                bottom: 0;
                text-transform: uppercase;
                color: #ffffff;
                padding: 30px;
                font-size: 30px;
                font-weight: bold;
                line-height: 120%;
            }
        }
    }
}

main {

    .wr {
        @extend %clear;
        padding: 0;
    }

    .soc-blocks {
        & {

        }

        .wr {
            padding: 0;
            @extend %clear;
        }

        * {
            box-sizing: border-box;
        }

        .video-block {
            width: percentage(2 / 4);
            height: 300px;
            float: left;
            background-image: url("../img/video.jpg");
        }

        .corp {
            width: percentage(1 / 4);
            height: 300px;
            float: left;
            padding: 30px;
            background-color: #ffffff;
            /* styles for text */
            font-size: 30px;
            color: #eaa245;
            text-transform: uppercase;
        }

        .date {
            width: percentage(1 / 4);
            height: 300px;
            float: left;
            background-image: url("../img/calendar.jpg");
        }

        .menu-slider {
            & {
                float: left;
                background-color: #ffffff;
            }

            .main-slider, nav {
                height: 510px;
                float: left;
            }

            nav {
                & {
                    width: 285px;
                }

                * {
                    box-sizing: border-box;
                }

                a {
                    & {
                        font-size: 14px;
                        text-transform: uppercase;
                        display: block;
                        border: 0.5px solid #f3f3f3;
                        color: #000;
                        text-align: center;
                    }

                    span {
                        display: block;
                        padding: 25px 50px;
                    }

                    &.active {
                        border: none;
                        color: #eaa245;
                        text-decoration: none;
                    }
                }

                div {
                    height: 254px;
                    border-right: 1px solid #f3f3f3;
                }
            }

            .main-slider {
                & {
                    width: 355px;
                    padding-top: 64px;
                    position: relative;
                }

                .slide {
                    & {
                        width: 355px;
                        padding-left: 35px;
                    }

                    .news {
                        & {
                            height: 70px;
                            width: 285px;
                            overflow: hidden;
                            margin-bottom: 45px;
                        }

                        img {
                            float: left;
                            margin-right: 25px;
                        }

                        h4, span, p {
                        }

                        h4 {
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom: -3px;
                        }

                        span {
                            font-size: 8px;
                            color: #eaa245;
                            margin-bottom: 5px;
                        }

                        p {
                            font-size: 10px;
                            color: #b1b1b1;
                            line-height: 140%;
                        }
                    }
                }

                .left, .right {
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    bottom: 25px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .left {
                    background-image: url("../img/left.png");
                    left: 45px;
                }

                .right {
                    background-image: url("../img/right.png");
                    right: 45px;
                }

                .slick-next, .slick-prev {
                    &.slick-arrow {
                        display: block;
                        position: absolute;
                        width: 20px;
                        top: 93%;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                .slick-next {
                    &.slick-arrow {
                        background-image: url("../img/right.png");
                        right: 45px;
                    }
                }

                .slick-prev {
                    &.slick-arrow {
                        background-image: url("../img/left.png");
                        left: 45px;
                    }
                }

                .slick-prev:before, .slick-next:before {
                    display: none;
                }
            }
        }

        .school, .clubOfGraduates {
            height: 510px;
            width: percentage(1 / 4);
            float: left;
        }

        .school {
            & {
                background-color: #313135;
                padding: 20px;
            }

            h4, p {
            }

            h4 {
                color: $white;
                font-weight: bold;
                margin-bottom: 25px;
            }

            img {
                margin-bottom: 40px;
            }

            p {
                & {
                    color: #b1b1b1;
                    font-size: 14px;
                    margin-bottom: 10px;
                    line-height: 120%;
                }

                &:first-letter {
                    margin-left: 10px;
                }
            }
        }

        .clubOfGraduates {
            & {
                padding: 38px 20px 0 20px;
                background-color: #ffffff;
                position: relative;
            }

            h4, ul > li > a, ul > li, p, button {
                color: #eaa245;
                font-weight: bold;
            }

            h4 {
                font-size: 24px;
                margin-bottom: 48px;
                margin-left: 12px;
            }

            ul {
                & {
                    margin-bottom: 105px;
                    margin-left: 30px;
                }

                li {
                    & {
                        list-style: square;
                        margin-bottom: 10px;
                    }

                    a {
                        font-size: 15px;
                        text-decoration-line: underline;
                        line-height: 120%;

                        &:hover {
                            text-decoration-line: none;
                            color: #313135;
                        }
                    }
                }
            }

            p, button {
                font-size: 18px;
            }

            p {
                color: $black;
                text-align: center;
                line-height: 120%;
            }

            button {
                transition: all.3s ease;
                position: absolute;
                cursor: pointer;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 20px 0;
                color: $white;
                font-weight: bold;
                border: none;
                background-color: #eaa245;

                &:hover {
                    background-color: #f9ac4a;
                }
            }
        }
    }

    .facts {
        & {
            padding-top: 60px;
            padding-bottom: 50px;
            background-color: #f6f6f6;
        }

        .wr {
            padding: 0 110px;
            text-align: center;
            @extend %clear;
        }

        h2, p, list > p, button {
        }

        .header_h2 {
            & {
                font-size: 30px;
                font-weight: bold;
                color: #48484f;
                margin-bottom: 15px;
            }

            span {
                text-transform: uppercase;
            }
        }

        .header_text {
            width: 675px;
            display: inline-block;
            line-height: 120%;
            margin-bottom: 45px;
            color: #48484f;
        }

        .lists {
            & {
                @extend %clear;
                padding: 0 50px;
                margin-bottom: 45px;
            }

            .list {
                & {
                    width: percentage(1 / 3);
                    box-sizing: border-box;
                    height: 185px;
                    float: left;
                    display: inline-block;
                }

                img {
                    margin-bottom: 33px;
                }

                p {
                    font-size: 22px;
                    text-transform: uppercase;
                    color: #48484f;
                }
            }
        }

        button {
            transition: all.3s ease;
            display: inline-block;
            cursor: pointer;
            bottom: 0;
            font-size: 22px;
            padding: 20px 0;
            width: 320px;
            color: $white;
            border: none;
            background-color: #eaa245;
            text-transform: uppercase;

            &:hover {
                background-color: #f9ac4a;
            }
        }
    }

    .magazine {
        & {
            padding-top: 60px;
            padding-bottom: 45px;
            background-color: #48484f;
        }

        .wr {
            padding: 0 160px;
            @extend %clear;
        }

        .leftSide {
            width: 320px;
            float: left;
            margin-top: 35px;
        }

        .rightSide {
            & {
                width: 550px;
                float: left;
            }

            h2 {
                font-size: 30px;
                font-weight: bold;
                color: #fc7f03;
                margin-bottom: 20px;
            }

            span, p {
                font-size: 16px;
            }

            span {
                color: #8b8b9a;
                display: inline-block;
                margin-bottom: 40px;
            }

            p {
                font-style: italic;
                color: $white;
                margin-bottom: 60px;
                line-height: 115%;
                text-align: justify;
            }

            .explain {
                & {
                }

                span {
                    & {
                        display: inline-block;
                        width: 110px;
                        height: 30px;
                        color: $white;
                        line-height: 25px;
                        text-align: right;
                        position: relative;
                        text-decoration: underline;
                        margin-bottom: 0;
                        background-image: url("../img/megaphone.png");
                        background-repeat: no-repeat;
                        background-position: left;
                    }

                    &:nth-child(1) {
                        margin-left: 0;
                    }

                    &:nth-child(2) {
                        background-image: url("../img/layers.png");
                        margin-left: 110px;
                        width: 95px;
                    }

                    &:nth-child(3) {
                        background-image: url("../img/open_magazine.png");
                        margin-left: 100px;
                        width: 110px;
                    }
                }
            }
        }
    }

    .soc-projects {
        & {
        }

        .left-block, .right-block {
            width: 50%;
            height: 520px;
            text-align: center;
            float: left;
            padding-top: 60px;
        }

        .left-block {
            & {
                background-color: #ffffff;
            }

            h2, h3, p {
                color: #48484f;
                font-weight: bold;
                font-size: 22px;
            }

            h2 {
                text-align: right;
                margin-right: 10px;
                font-size: 30px;
                margin-bottom: 55px;
                color: #eaa245;
            }

            h3 {
                margin-bottom: 28px;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 60px;
                display: inline-block;
                width: 475px;
                line-height: 160%;
                font-weight: normal;
            }

            .schoolRSPP {
                & {
                    width: 50%; 
                }
                
                .img_school, .text-block {
                    width: 50%;
                    height: 160px;
                    float: left;
                    display: inline-block;
                }

                .img_school {
                    & {
                        position: relative;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        left: 0;
                        top: 0;
                        width: 160px;
                        height: 160px;
                        background-color: rgba(234, 162, 69, 0.5);
                    }
                }

                .text-block {
                    background-color: #eaa245;
                    padding: 18px;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .soc-block {
                & {
                    background-color: #48484f;
                    float: left;
                    width: 50%;
                    height: 160px;
                    line-height: 185px;
                    text-align: center;
                }

                a {
                    & {
                        width: 38px;
                        height: 38px;
                        display: inline-block;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    &:hover {
                        & {
                            text-decoration: none;
                        }

                        &:nth-child(1) {
                            background-size: cover;
                            background-image: url("../img/hover-vk.png");
                        }

                        &:nth-child(2) {
                            background-size: cover;
                            background-image: url("../img/hover-twit.png");
                        }

                        &:nth-child(3) {
                            background-size: cover;
                            background-image: url("../img/hover-inst.png");
                        }

                        &:nth-child(4) {
                            background-size: cover;
                            background-image: url("../img/hover-face.png");
                        }

                    }

                    &:nth-child(1) {
                        background-image: url("../img/vk-school.png");
                    }

                    &:nth-child(2) {
                        background-image: url("../img/twit-school.png");
                    }

                    &:nth-child(3) {
                        background-image: url("../img/inst-school.png");
                    }

                    &:nth-child(4) {
                        background-image: url("../img/face-school.png");
                    }
                }
            }
        }

        .right-block {
            & {
                background-color: #eaa245;
                height: 520px;
            }

            h2 {
                color: #48484f;
                margin-bottom: 55px;
                font-size: 30px;
                margin-left: 10px;
                text-align: left;
            }

            h3 {
                color: white;
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 35px;
                text-transform: uppercase;
            }

            p {
                font-size: 18px;
                line-height: 140%;
                padding: 0 75px;
                margin-bottom: 75px;
                text-align: center;
                color: white;
                font-family: "PT Sans", sans-serif;
            }
        }
    }
    
    .partners {
        .wr {
            
        }
        
        .partners-header {
            font-size: 30px;
            margin-top: 60px;
            margin-bottom: 85px;
            font-weight: bold;
            color: rgba(49, 49, 53, 255);
            text-align: center;
        }
        
        .fst-line {
            & {
                text-align: center;
            }
            
            .img1, .img2, .img3, .img4, .img5, .img6 {
                & { 
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 168px;
                    height: 175px;
                    margin-left: 225px;
                    text-align: center;
                    display: inline-block;
                    margin-bottom: 100px;
                    padding-top: 175px;
                }
                
                p {
                    & {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 20px;
                        color: rgba(49, 49, 53, 255);
                        height: 40px;
                    }

                    &:nth-child(1) {
                        height: 70px;
                    }

                    &:nth-child(3) {
                        width: 255px;
                    }
                }
            }
            
            .img1 {
                background-image: url("../img/img1.png");
                margin-left: 0;
            }
            
            .img2 {
                background-image: url("../img/img2.png");
                background-position: 23px 0;
            }
            
            .img3 {
                background-image: url("../img/img3.png");
            }
        }
        
        .snd-line {
            & {
                text-align: center;
            }
            
            .img4, .img5, .img6 {
                height: 102px;
                width: 320px;
                margin-left: 85px;
                background-position: center;
                background-repeat: no-repeat;
                display: inline-block;
                margin-bottom: 65px;
            }
            
            .img4 {
                background-image: url("../img/img4.png");
                margin-left: 0;
            }
            
            .img5 {
                background-image: url("../img/img5.png");
                margin-left: 65px;
            }
            
            .img6 {
                background-image: url("../img/img6.png");
            }
        }
    }
}

footer {
    & {
    }

    .wr {
        & {
            padding: 5px 15px 0 135px;
            height: 230px;
            background-color: #48484f;
        }

        .logo {
            & {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: 100;
                width: 135px;
                height: 125px;
                background-color: #eaa245;
                padding: 10px;

                &:hover {
                    text-decoration: none;
                }
            }

            img {
                clear: both;
                margin-bottom: 9px;
            }

            span {
                font-size: 16px;
                line-height: 80%;
                text-transform: uppercase;
            }
        }

        .underLogoText {
            position: absolute;
            top: 157px;
            left: 10px;
            color: white;
        }

        nav {
            & {
                float: left;
                margin: 30px 0 0 15px;
            }

            a {
                transition: all 0.3s ease;
                font-family: "PT Sans", sans-serif;
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                margin-right: 30px;
                display: inline-block;
                border-left: none;
                text-decoration: none;
                border-right: none;
                background-color: #48484f;
                border-bottom: 2px solid #48484f;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .soc {
            & {
                float: left;
                width: 105px;
                margin: 30px 0 0 10px;
            }

            a {
                & {    
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:hover {
                    text-decoration: none;

                    &:nth-child(1) {
                        background-image: url("../img/hover-vk.png");
                    }

                    &:nth-child(2) {
                        background-image: url("../img/hover-twit.png");
                    }

                    &:nth-child(3) {
                        background-image: url("../img/hover-inst.png");
                    }

                    &:nth-child(4) {
                        background-image: url("../img/hover-face.png");
                    }

                }

                &:nth-child(1) {
                    background-image: url("../img/vk.png");
                }

                &:nth-child(2) {
                    background-image: url("../img/twit.png");
                }

                &:nth-child(3) {
                    background-image: url("../img/bs_emba_inst.png");
                }

                &:nth-child(4) {
                    background-image: url("../img/face.png");
                }
            }
        }

        .contacts {
            & {
                float: left;
                width: 180px;
                margin: 28px 0 0 15px;
                line-height: 200%;
            }

            .phone, a {
                color: white;
                font-weight: bold;
            }

            .phone {
                & {
                    display: inline-block;
                    position: relative;
                    margin-left: 25px;
                }

                &:before {
                    content: url("../img/beforePhone.jpg");
                    display: block;
                    position: absolute;
                    left: -30px;
                    top: 3px;
                }
            }

            a:nth-child(2), a:nth-child(3) { 
                position: relative;
                margin-left: 25px;
            }

            a:nth-child(2) {
                &:before {
                    content: url("../img/beforeSkype.jpg");
                    display: block;
                    position: absolute;
                    left: -30px;
                    top: 0;
                }
            }

            a:nth-child(3) {
                &:before {
                    content: url("../img/beforeMail.jpg");
                    display: block;
                    position: absolute;
                    left: -30px;
                    top: 0;
                }
            }
        }

        .form {
            bottom: 60px;
            right: 130px;
            position: absolute;

            p {
                text-align: right;
                color: white;
                text-transform: uppercase;
                margin-bottom: 25px;
            }

            input[type="text"] {
                border: none;
                padding: 7px;
                width: 240px;
            }

            button {
                background-color: #eaa245;
                padding: 7px 20px;
                margin-left: -8px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                color: white;

                &:hover {
                    background-color: #F0A747;
                }
            }
        }
    }
}