.wr {
	width: 1180px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}

.wr:after {
	content: "";
	display: table;
	clear: both;
}

#nav, #tabs {
	box-sizing: border-box;
}

#nav {
	width: 150px;
	height: 250px;
	float: left;
	padding: 0 10px;
	border: 2px solid #f2f2f2;
}

#nav .nav-button {
	text-align: center;
	cursor: pointer;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	background-color: #f2f2f2;
}

#nav .nav-button:hover {
	background-color: #c2c2C2;
}

#nav .active {
	background-color: #c2c2c2;
}

#tabs {
	position: relative;
	width: 600px;
	float: left;
	height: 250px;
	border: 2px solid #f2f2f2;
	border-left: none;
	padding: 10px 30px 0;
}

#tabs .tab {
	max-width: 100%;
	position: absolute;
	opacity: 0;
}

#tabs .tab p {
	max-width: 100%;
}

#tabs .active {
	opacity: 1;
}