body {
    width: 100%;
    background-color: $white;
    min-width: 360px;
    font-family: $font-ptsans;
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    font-size: 17px;
    text-decoration: none;
    color: $black;
    outline: none;
    font-family: $font-base;
}

.wr {
    max-width: 1440px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;

    &:hover, &.active {
        text-decoration: underline;
    }

    &:active {
        color: $black;
    }
}

%clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}