$white: #fff;
$black: #000;
$black2: #202020;

$green1: #39a45b;
$green2: #00a651;
$orange: #f7941d;
$lightGrey2: #e6e6e6;
$lightGrey1: #d7d7d7;
$bgGrey1: #fafafa;
$bgGrey2: #f1f3f5;

$font-grey1: #999999;
$font-grey2: #989898;
$font-grey3: #808080;
$soc-color: #97a2ad;

$font-base: "Lato", sans-serif;
$font-noto: "Noto Serif", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-slim: "Slim Tony", sans-serif;
$font-ptsans: "PT Sans", sans-serif;

	//BreakPoints
$bp-phone: 480px;
$bp-land_phone: 640px;
$bp-tablet: 768px;
$bp-laptop-s: 1024px;
$bp-laptop-m: 1280px;
$bp-laptop-l: 1440px;