@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body, html {
	margin: 0;
	padding: 0;
	background-image: url("../img/large_bg_body.png");
	background-repeat: no-repeat;
	background-position: center top;
	font-family: 'Segoe UI', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
}

*, p, h1, h2, h3, h4, h5, ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: 'Segoe UI', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
}

a {
	transition: all .1s ease-in;
	text-decoration: none;
	color: unset;
}

a:hover {
	text-decoration: none;
}

p {
	font-size: 17px;
	color: #000000;
}


.auth .arrow,
.auth #login span,
.auth #reg span {
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

.auth .choose-city:hover .arrow,
.auth .choose-currency:hover .arrow,
.auth #login:hover span,
.auth #reg:hover span {
	animation-name: bloom;
}

@keyframes bloom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


.brand-block .container,
.slider .container,
.advantages .container,
.range .container,
.product-listing .container,
.news .container,
.about .container,
.navigation .container,
footer .container {
	background: #ffffff;
}


.padding {
	padding-bottom: 40px;
}